{% extends 'todos/main_temp.html' %}


{% block title %}Add a task{% endblock %}


{% block content %}
        <div class="content-add-edit">
              
        	<form method="post">
        		{% csrf_token %}
                        <div class="form-error">{{ form.non_field_errors }}</div>

                        <div class="add-edit">
                              <h3 class="action_title" id="add_edit_title"> <i class="bi bi-plus-circle"></i> Adding a task</h3>  
        		      {{ form.title }}
                              {{ form.slug }}
                              {{ form.description }}
                              <div>
                                {{ form.completed.label }}
                                {{ form.completed }}
                              </div>
                              {{ form.cat }}
        		      <button type="submit" class="btn btn-success">Add</button>
                        </div>
        	</form>
        </div>
{% endblock %}